.navbar {
  width: 100vw;
  background: #1c3e6f;
}

.nav-item a {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.nav-item a:hover {
  color: #c4d1e4;
}

.navbar-brand img {
  margin-left: 20px;
  max-width: 40px;
}
/* make the text go down */
.body_text {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  font-size: 150%;
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 170px;
  margin-bottom: 10px;
}

.timetable-page {
  text-align: center;
  width: 100%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
